body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #3655b3;
    margin: 0;
    padding: 0;
    
  }
  
  #converter {
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    max-width: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input, select, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
  }
  
  button {
    background-color: #62afea;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #cab33f;
  }
  
  h3 {
    margin-top: 20px;
    color: #333;
  }
  
  span {
    font-weight: bold;
  }
  